<ion-view view-title="Insert Url">
    <div class="bar bar-header item-input-inset url_input">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="appy url..." ng-model="url">
        </label>
        <button class="button button-clear" ng-click="appy_url = url">
            search
        </button>
    </div>

    <div class="appy_remote">
        <iframe src="{{trustSrc(appy_url)}}" style="width: 100vw; height: 100vh;" >

        </iframe>
    </div>
</ion-view>
