/* Empty. Add your own CSS if you like */
.url_input{
    position: absolute !important;
    margin-top: 3em !important;
}

.appy_remote{
    position: absolute !important;
    margin-top: 8em !important;
}

.appy{
    position: absolute !important;
    margin-top: 5em !important;
}